Source: libedit
Section: libs
Priority: standard
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: LLVM Packaging Team <pkg-llvm-team@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders: Anibal Monsalve Salazar <anibal@debian.org>, Sylvestre Ledru <sylvestre@debian.org>
Build-Depends: dpkg-dev (>= 1.16.1~), debhelper (>= 9), dh-autoreconf,
 pkg-config,
 groff-base, libbsd-dev (>= 0.1.3), libncurses5-dev (>= 5.9-2), bsdmainutils
Standards-Version: 3.9.8
Vcs-Git: git://anonscm.debian.org/collab-maint/libedit.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libedit.git/
Homepage: http://www.thrysoee.dk/editline/
XS-Pexip-Upstream: http://ftp.debian.org/debian/ buster

Package: libedit2
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BSD editline and history libraries
 Command line editor library provides generic line editing,
 history, and tokenization functions.
 .
 It slightly resembles GNU readline.

Package: libedit-dev
Section: libdevel
Priority: optional
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libedit2 (= ${binary:Version}),
 libbsd-dev (>= 0.1.3), libtinfo-dev, libncurses5-dev
Description: BSD editline and history libraries (development files)
 Command line editor library provides generic line editing,
 history, and tokenization functions.
 .
 It slightly resembles GNU readline.


Package: libedit2-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libedit2 (= ${binary:Version})
Description: BSD editline and history libraries (debug package)
 Command line editor library provides generic line editing,
 history, and tokenization functions.
 .
 It slightly resembles GNU readline.
